@model IEnumerable<TrentonTestApp.Role>

@{
    ViewBag.Title = "Index";
}

<hr />
<h2>Rollenbeheer</h2>
<hr />

<div class="jumbotron">
    <p>
        @Html.ActionLink("Maak rol aan", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.role1)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.role1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
</div>