@model TrentonTestApp.User

@{
    ViewBag.Title = "Details";
}

<hr />
<h2>Details</h2>
<hr />

<div class="jumbotron">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password_Hash)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password_Hash)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.role1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.role1)
        </dd>

    </dl>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id })
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
